DAWG-Python==0.7.2
docopt==0.6.2
oauthlib==0.7.2
pip==6.0.3
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
requests==2.6.0
requests-oauthlib==0.4.2
setuptools==8.2.1
six==1.9.0
tweepy==3.1.0
twitterbot-utils>=0.1.1
APScheduler==3.0.0
